body{
    background-color: #F9E79F;
}
.titilo{
    color: rgb(255, 38, 0);
    font-family: Impact;
    text-align: center;
}
.c1{
    text-align: center;
}
.p1{
    font-family: Impact;
    color: rgb(0, 140, 255);
}